/* ----- CUSTOM GRID SETTINGS ----- */
.navigation {
  grid-area: navigation;
}
.content-area {
    grid-area: content-area;
    grid-template-rows: 92% 8%;
    grid-template-areas:
        'table'
        'btn-group';
    display: grid;
    row-gap: 10px;
    margin:.5rem;
    padding: 20px;


}

/* ------ NAVIGATION ---- */
.navigation{
  display: flex;
}
.nav > h3{
  padding: .5rem;
  font-size: 1rem;
}

.navigation > ul > li{
  display: inline-block;
}

.navigation > ul{
  margin: 0;
  padding: 0;
}

.navigation > ul > li{
  font-weight: bolder;
  padding: 1.5rem;
}
.navigation > ul > li:hover{
  background-color: #bfddff;
  color: var(--main-color);
  cursor: pointer;
}

#navigation-view{
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;

}

#incident-filter{
  padding: 1rem;
  background: #bfddff ;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

/* ----- USER TABLE -----*/


.table{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.table-row::after{
    content: "";
    clear: both;
    display: block;
}
.table-row {
    cursor: pointer;
}
.table-row:hover .table-data-1 {
    background-color: var(--main-color);
    color: var(--light-gray);
}

[class*="table-"]{
    float: left;
}

.table-header div{
    background-color: var(--main-color);
    color: var(--bluewhite);
    font-size: 1rem;
    border-radius: 5px 5px 0 0;
}


.table p, .table input[type=checkbox] {
    padding-left: 0.5rem;
}
.table-row {
    border-bottom: 1px solid var(--gray);
}
.table-body div {
    border-right: 1px solid var(--gray);
}

.table-body, .table-header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
}

.table-body{
    overflow-y: scroll;
}


.table-data-1{
    width: 19%;
    min-width: 70px;
}


.table-data-2{ width: 33.333%; }
.table-data-3{ width: 50%; }
.table-data-6{ width: 100%; }

.checkbox{
    width: 5%;
    height: 100%;
    text-align: center;

}

