<div class="dashboard">
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>{{title}}</h3>
    </div>
    <div class="sidebar-content">
      <div class="sidebar-nav">
        <ul>
          <li routerLink="incidents">Incidents</li>
          <li routerLink="users">User</li>
          <li routerLink="user-details">User Details</li>
        </ul>
      </div>
      <div class="user-menu">
        <hr>
        <div class="dropup">
          <div class="dropbtn">&equiv;</div>
          <div class="dropup-content">

            <a routerLink="settings">Settings</a>
            <a href="#">Details</a>
            <hr>
            <a href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width:100%;float:right;">
    <router-outlet></router-outlet>
  </div>

</div>

