
/* ----- GRID SYSTEM ----- */
.dashboard {
  display: grid;
  height: 100vh; /* full viewport height */
  grid-template-columns: 10% 90%; /* divides the dashboard into sidebar and main content areas */
  grid-template-areas:
    "sidebar main-content";
}

.sidebar {
  grid-area: sidebar;
  max-height: 100vh; /* optional, ensures the sidebar doesn't exceed the viewport height */
  overflow-y: auto; /* adds scrollbar if content exceeds the element's height */
  /* additional styling */
  display: grid;
  grid-template-rows: 10% 90%; /* divides main content into navigation and content areas */
  grid-template-areas:
    "sidebar-header"
    "sidebar-content";
}

/* ----- SIDEBAR STYLINGS ----*/

.sidebar-header{
  grid-area: sidebar-header;
}
.sidebar-header > h3{
  margin: 1rem;
}

.sidebar-nav{
  display: flex;
  flex-direction: column;
}
.sidebar-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-nav > ul{
  margin: 0;
  padding: 0;
}

.sidebar-nav > ul > li{
  font-weight: bolder;
  padding: 1.5rem;
}
.sidebar-nav > ul > li:hover{
  background-color: #bfddff;
  color: var(--main-color);
  cursor: pointer;
}


/* ------ USER MENU ----- */

.dropbtn {
  display: flex;
  justify-content: center;
  color: var(--bluewhite);
  padding: 16px;
  font-size: 2rem;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropup-content {
  display: none;
  position: absolute;
  bottom: 70px;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropup-content a {
  color: var(--main-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: var(--secondary-color);
  color: var(--bluewhite);
  border-top: 1px solid var(--bluewhite);
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: var(--light-gray);
  color: #1f2937;
}




