@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* ----- GENERELLES ----- */
html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.clearfix::after{
  content: '';
  clear: both;
  display: block;

}
.main-content {
    height: 100vh;
    grid-area: main-content;
    display: grid;
    grid-template-rows: 8% 92%; /* divides main content into navigation and content areas */
    grid-template-areas:
    "navigation"
    "content-area";
}


/* ----- COLORS ----- */

/* background-dark-blue: #232e3e */
/* font-light-blue: #CBD4E2 */
/* font-dark-blue: #232e3e */
/* background-light-latte: #F7F3E3 */
/* shadow-light-gray: #232e3e */

:root{
  --main-color: #1f2937;
  --secondary-color:  #232e3e;
  --grayblue: 	hsl(216, 5%, 19%);
  --light-blue: #cbd4e2;
  --bluewhite: #fcfbf9;
  --light-gray: #eeeeee;
  --gray: #b6b6b6;
  --shadow-light-gray: #6d6d6d;
  --white: #fff

}

.sidebar-header > h3, .navigation ul > li, #navigation-view, .sidebar-nav > ul > li{
  color: var(--bluewhite);
}

.sidebar, .navigation, button{
  background-color: var(--secondary-color);
}

.main-content{
  background-color: var(--light-blue);
}
.right-panel, .content-area, .dropup-content{
  background-color: var(--light-gray)
}
.list-group-item{
  background-color: var(--white);
}



/* ----- SHARED STYLES ----- */
.navigation > ul, .sidebar-nav > ul{
  margin: 0;
  padding: 0;
}

.navigation > ul > li, .sidebar-nav > ul > li{
  font-weight: bolder;
  padding: 1.5rem;
}
.navigation > ul > li:hover, .sidebar-nav > ul > li:hover{
  background-color: #bfddff;
  color: var(--main-color);
  cursor: pointer;
}

@media (min-width: 1920px) {
    .main-content {
        grid-template-rows: 6% 94%;
    }
}

/* ----- BUTTON GROUP ----- */
.btn-group{
    height: 90%;
}

.btn-group button{
    width: 16.666%;
    color: var(--white);
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 2px var(--gray);
}
.btn-group button:hover {
    box-shadow: 5px 5px 10px 5px var(--gray);
}

button[disabled] {
    background-color: var(--gray);
    color: var(--main-color);
}

/* ----- LIST GROUP ----- */
.list-group{
    display: flex;
    flex-direction: column;
}

.list-group > ul{
    list-style: none;
    padding: 0;
}

.list-group-item{

    padding: 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #1f2937;
}
.list-group-item:hover, .list-group-item:focus{
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.list-group-item:active, .list-group-item.active{
    background-color: var(--main-color);
    color: var(--bluewhite);
}

.list-group-item-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.list-group-item > p {
    margin: 5px 0;
}

/* ----- FORMS -----*/

input, select, textarea{
    padding: 8px 8px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

#form-select-container{
    display: flex;
    justify-content: space-between;
}

#form-select{
    display: flex;
    flex-direction: column;
}

input:focus{
    outline: 2px solid var(--main-color);
    box-shadow: 1px 1px 5px 1px var(--main-color);
}
input[type=radio]{
    outline: 0;
    box-shadow: none;
}

.form-actions{
    display: flex;
    justify-content: space-between;
}

.form-button {
    width: 32%;
    color: var(--white);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 2px var(--gray);
    font-size: 1rem;
}

.form-button:hover{
    box-shadow: 5px 5px 10px 5px var(--gray);
}

.password {
    width: 98%;
}
